* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: #000; */
  font: white;
}
.box { margin-top: 100px;
  width: 100px;
  height: 100px;
  background-color: red;
  border: 1px solid #fff;
}
.pokemon{
  margin-top: 1000px;
}